* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat';
}

.contaner3 {
    background-color: #E5E5E5;
}

.mt{
    margin-top: 30px;
}

.inp1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp2 {
    width: 80%;
    margin-left: 10%;
    line-height: 200%;
}

.inp3 {
    width: 85%;
    height: 50px;
    margin-left: 5%;
    line-height: 160%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.in1 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.in2 {
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
}
.im1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img1{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.con01 {
    color: black;
    margin: 60px 0px;
    background-color: #fff;
}

.con02 {
    /* display: flex; */
    /* align-items: center;     */
    width: 90%;
    margin-left: 5%;
    height: 40px;
    background-color: #326A32;
    color: #fff;
    padding-left: 5px;
    padding-bottom: 10px;
}
.con03{
    text-align: center;
    margin-bottom: 70px;
}