* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  .topblock {
    margin-top: 39px;
    .FirstMainBlock {
      display: flex;
      justify-content: space-between;
      margin: 2px;
      margin-top: 20px;

      .BigSearch {
        align-items: center;
        width: 384px;
        height: 1206px;
        margin-right: 67px;
      }
      .LeftFirstMainBlock {
        .leftText {
          p {
            width: 792px;
            height: 88px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            color: #000000;
          }
        }
        .ImgLeftMainBlock {
          margin-top: 130px;
        }
      }
    }
    .ourOffer {
      margin-top: 210px;
    }

    .middleBlock {
      display: flex;
      justify-content: space-between;
      margin-top: 82px;

      .forEmployer {
        width: 486px;
        margin-top: 135px;
        h4 {
          width: 240.46px;
          height: 36px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          color: #000000;
        }
        .buttons__gr {
          display: flex;
          .Buttonout {
            margin-left: 20px;
          }
        }

        .forEmployerText {
          margin-top: 5px;
          width: 486px;
          height: 135px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          color: #000000;
        }
      }
    }
    .howWork {
      margin-top: 80px;
    }

    .middleBlockLow {
      display: flex;
      justify-content: space-between;
      margin-top: 148px;
      h4 {
        margin-top: 90px;
        width: 240.46px;
        height: 36px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
      }
      .forGits {
        .registrationBtn {
          margin-top: 20px;
        }
      }
    }

    .middleBlockLowText {
      margin-top: 5px;
      width: 486px;
      height: 135px;
      left: 798px;
      top: 2362px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #000000;
    }
    .TimeLine {
      margin-top: 78px;
    }
    .mostCity {
      margin-top: 110px;
      margin-bottom: 30px;
    }
    .cards {
      margin-bottom: 50px;
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .col-12 {
          display: flex;
          align-items: center;
          .col-4 {
            width: 384px;
            height: 384px;
            border-radius: 4px;
            margin: 0 10px;

            background: #ffffff;
            border-radius: 0px 0px 4px 4px;
            filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.08));

            img {
              width: 384px;
              height: 304px;
            }
            .text {
              display: flex;
              justify-content: space-between;
              margin: 24px 30px;
              button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 14px 32px;
                border-radius: 4px;
                background-color: #ffffff;
                border: 0.1px solid #ffffff;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;
                text-align: right;
                color: #326a32;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin-bottom: 10px;
                img {
                  position: static;
                  width: 16px;
                  height: 16px;
                  flex: none;
                  order: 1;
                  flex-grow: 0;
                }
              }

              p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 130%;
                display: flex;
                align-items: center;
                color: #000000;
              }
              .BtnWatch {
                width: 16px;
                height: 16px;
                flex: none;
                order: 1;
                flex-grow: 0;
                margin: 0px 8px;
              }
            }
          }
        }
      }
    }
  }
}

.footerRegistr {
  width: 100%;
  background-color: #f2f8f2;
  .footerRegText {
    width: 100%;
  }
  .bottomButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 40px;
    .btn2 {
      margin-left: 20px;
    }
  }
}
