.register {
    width: 1366px;
    height: 680px;
    /* border: 2px solid black; */
    display: flex;
}

.register_tekst {
    width: 632px;
    height: 168px;
    margin-top: 214px;
    margin-left: 84px;
    font-weight: 600;

}
.registr1{
    margin-bottom: -15px;
    font-size: 45px;
}
.registr2{
    margin-bottom: -15px;
    font-size: 45px;
}
b{
    font-size: 45px;
    margin-bottom: 0px; 
    color:#326A32 ; 

}
.registr3{
    margin-bottom: -15px;
    font-size: 45px
}
.btnnew{
    margin-top: 20px;
    margin-left: 83px;
}
.group333{
    margin-left: 65px;
    margin-top: 90px;
}
/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
.takliflar{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.takliflar_tekst{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    
}
.takliflar_tekst2{
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
}
.takliflar_tekst22{
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
}
.takliflar_tekst222{
    margin-left: 35px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
}
.takliflar_tekst3{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}
.takliflar_tekst33{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}
.taklif_left{
    margin-right: 55px;
}
/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
.footerReg{
    background-color: #F2F8F2;
    width: 1366px;
    height: 230px;
    margin-top:50px  ;

}
.footerRegText{
    padding-top: 50px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #000000;
}
.btnnew2{
    margin-top: 20px;
    margin-left: 560px;
}
