* {
  margin: 0;
  padding: 0;
}
.media1{
  z-index: 3;
}
.option1{
  width: 100% !important;
 
  border: none !important;
  outline: none !important;
}
.registerBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 486px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  margin: 120px auto 200px;
  .checkBlock{
    display: flex;
    width: 406px;
    justify-content: space-between;
    margin: 20px auto;
    .savePassword{
      display: flex;
      .checkbox{
        margin-top: 7%;
        margin-left: 0;
      }
      p{
        margin-left: 2px;
        font-size: 16px;
      }
    }
    .remindPassword {
      width: auto;
      height: auto;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      color: #1d3d1d;
      margin-top: 1%;
    }
  }
  .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root{
    width: 100%;
  }

  .mainBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 406px;
    margin: 0 auto;
    .css-xn6ruc>:not(style){
      margin: 0px;
      width: 100%;
    }
  }

  .nameBlock {
    width: 188px;
    .MuiFilledInput-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 56px;
      background: #fafcfa;
      border-radius: 4px;
      border: 2px solid #fafcfa;
    }
  }
  .surNameBlock {
    width: 188px;
    .MuiFilledInput-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 56px;
      background: #fafcfa;
      border-radius: 4px;
      border: 2px solid #fafcfa;
    }
  }

  .jobBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 5px;
    margin: 20px auto;
    width: 406px;
    height: 56px;
    background: #fafcfa;
    border-radius: 4px;
    border: 2px solid #fafcfa;
    outline: none;
    color: #4b764b !important;
  }  
  .EnterEmail{
    width: 406px;
    margin: 0 auto !important;
    .MuiFilledInput-root {
      width: 100%;
      height: 56px;
      background: #fafcfa;
      border-radius: 4px;
      border: 2px solid #fafcfa;
    }
    .css-xn6ruc>:not(style){
      width: 100% !important;
      margin: 0 !important;
    }
  }
}

.tabs {
  width: 50%;
  color: green !important;
  border-bottom: red !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #1d3d1d !important;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  padding-left: 18px !important;
}
.css-1laqsz7-MuiInputAdornment-root{
  button{
    margin-left: auto;
  }
}
.registerBtn,.enterBtn {
  display: flex;
  justify-content: end;
}
.registerBtn{
    margin-top: 20px;
}
.enterBtn{
  width: 96%;
}
.registerBtn{
  width: 96%;
}

@media screen and (max-width: 576px) {
  .registerBlock{
    width: auto;
    margin: 10% auto;
  }
  .EnterEmail{
    width: 100% !important;
  }
  .checkBlock{
    width: auto !important;
  }

  .MuiFilledInput-input{
    width: 100% !important;
  }
  .EnterPassword{
    form{
      width: auto;
    }
    width: 100%;
    .MuiBox-root{
      width: 100%;
      .MuiFilledInput-root{
        width: 100%;
      }
    }
  }
  .remindPassword{
    width: auto !important;
  }
  .MuiFilledInput-input MuiInputBase-input  {
    width: 100%;
  }
  .MuiFormControl-root {
    width: 100% !important;
  }

  .mainBlock{
    width: auto !important;
    display: flex;
    flex-direction: column;
    margin: 0 auto !important;
    .nameBlock{
      width: 100%;
      margin-left: 0;
      .MuiFormControl-root MuiTextField-root css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
        width: 100%;
        margin: 0;
      }
    }
    .surNameBlock{
      margin-top: 10px !important;
      width: 100%;
      margin: 0;
      .MuiFormControl-root MuiTextField-root css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
        width: 100%;
        margin: 0;
      }
    }
  }
  .MuiFilledInput-root{
    width: 100% !important;
  }
  .jobBlock{
    width: 100% !important;
  }
  .enterBtn{
    width: 100%;
    display: flex ;
    justify-content: space-around ;
    a{
      width: 60%;
      div{
        width: 100%;
        .btn1{
          width: 100%;
        }
      }
    }
  }
  .registerBtn{
    width: 100%;
    display: flex ;
    justify-content: space-around ;
    a{
      width: 60%;
      div{
        width: 100%;
        .btn1{
          width: 100%;
        }
      }
    }
  }
}


