.BoxPassword {
  margin: 0 auto;
  width: 406px;
  background-color: #fafcfa;
  margin-top: 10px;
}
.FormPassword{
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  .MuiInput-input{
    padding-left: 4% !important;
  }
}
.svgPassword {
  color: green !important;
}

@media screen and (max-width: 576px) {

    .formPassword{
        div{
          width: 100% !important;
          
        }
      }
    
}
@media screen and (max-width: 1200px) {
.formPassword{
  width: 100% !important;
  background-color: #fafcfa;
}
.svgPassword {
  color: green;
}
}