.css-r47a1p-MuiFormControl-root {
  width: 406px !important;
  background-color: #fafcfa;
}
.css-i4bv87-MuiSvgIcon-root {
  color: green;
}

@media screen and (max-width: 576px) {

    .css-2imjyh{
        div{
          width: 100% !important;
          
        }
      }
    
}
@media screen and (max-width: 1200px) {
.css-r47a1p-MuiFormControl-root {
  width: 406px !important;
  background-color: #fafcfa;
}
.css-i4bv87-MuiSvgIcon-root {
  color: green;
}
}