*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat';
}
 
.container1{
    /* position:fixed; */
    top: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 6px rgb(138, 137, 137);
    /* margin-bottom: 8000px !important; */
}

.come{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: block;
}
.con1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.con2{
    display: flex;
     
    align-items: center;
    
    /* display: block; */
}
.a1{
    margin-left: 30px;
    color: #333;
    font-size: 16px;
    font-family: 'Montserrat';
}
.a13{
    color: #333;
}
.a1:hover{
    color: #333;
    border-bottom: 2px solid #777;
}
.a13:hover{
    color: #333;
    border-bottom: 2px solid #777;
}
 
 
.img10{
    width: 20%;
    height: auto;
    margin-right: 5px;
}
.bass{
    display: none;
}
.basss{
    font-size: 25px;
}
@media(max-width:1450px){
    .a1{
        font-size: 15px;

    }
    .logo01{
         
        height: auto;
    }
}
@media(max-width:1330px){
    .a1{
        font-size: 13px;
    }
    /* .logo01{
        width: 20%;
        height: auto;
    } */
}
@media(max-width:1160px){
     .bass{
         display: block;
     }
     .con2{
         display: none;
     }
     .come{
         display: none;
     }
     .logo01{
       
        height: auto;
    }
    .a1{
        margin-bottom: 30px;
    }
}
@media(max-width:600px){
    
}

.openmenu{
    display: flex !important;
    flex-direction: column;
}
.media1{
    /* margin-top: 105vh; */
    padding-top: 40%;
    width: 100%;
    height: 100vh;
    /* background-color: #777 */
    background: rgba(247, 255, 246, 0.5);
    backdrop-filter: blur(12px);
    margin-left: -12px;
}