.AboutGit{
    width: 792px;
    /* height: 350px; */
    display: flex;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 20px -5px ;
}

.rasm{
    margin-left: 40px;
    margin-top: 40px;
}
.button{
    margin-top: 10px;
}
.divcha1{
    display: flex;
    margin-top:32px ; 
    margin-left: 40px;
}
.divcha{
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
}
.abouttekst10{
    margin-left: 10px;
    font-size: 17px;
    margin-bottom: 0px;
}
.rasm007{
    width: 24px;
    height: 24px;
}
.kuniga{
    margin-left: 73px;
    font-size: 14px;
}
/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */

.ortada{
    width: 460px;
    margin-left: 10px;
}
.h22{
    margin-top: 20px;
}
.bb{
    font-size: 15px ;
}
.yosh{
    margin-top: 5px;
    font-size: 18px;
    margin-top: -10px;
}
p{
    font-size: 14px
}
/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
.top{
    margin-top: 20px;
    margin-left: 15px;
}
.see{
    margin-left: 15px;
}
.bottom{
    margin-top: 245px;
    margin-left: 25px;
    margin-bottom: 20px;
}
@media (max-width:575.98px) {
    .AboutGit{
        width: 100%;
        flex-direction: column;
    }
    .ortada{
        width: 90%;
    }
    .bottom {
        margin-top: 20px;
        margin-left: 30%;
    }
}